.cotainer {
    // display: flex;
}
li {
    // min-width: 50px;
    // min-height: 50px;
    widows: 45px;
    height: 45px;
    border: solid 1px gray;
    opacity: 0.7;
    max-width: 45px;
    background: url('./socialSprites.png');
    // flex-grow: 2;
    flex-direction: row;
    // float: left;
    // width: 15%;
    display: block;
    margin: 0 auto; // zero top and botton auto left and right
}
ul {
    list-style-type: none;
}
@for $i from 0 through 6 {
    $y: -45 * $i * 1px;
    .photo-#{$i} {background-position: $y $i* 0}
}
.row {
    clear: both;
}