html, body {
    height: 100%;
}
#flex-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
ul li {
    height: 150px;
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
    flex-grow: 1;
}
ul li:first-child {
    order: 1;
    background-color: red;
    opacity: .7;
}
ul li:nth-child(2) {

    background-color: green;
    opacity: .7;
}
ul li:nth-child(3) {
    flex-grow: 2;
    background-color: blue;
    opacity: .7;
}
ul li:nth-child(4) {
    background-color: orange;
    opacity: .7;
}
ul li:nth-child(5) {
    background-color: orchid;
    opacity: .7;
}
ul li:last-child {
    background-color: olivedrab;
    opacity: .7;
}