div.item {
    background-color: lightcoral;
    opacity: .7;
    border: solid 1px gray;
}
.container {
    /** General */ 
    min-height: 100px;
    border: solid 1px gray;

    /** Flex */
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.item {
    /* General */
    min-width: 50px;
    min-height: 50px;

    /* Flex */
    align-items: stretch;
    /* max-width: 50px; */

    /* Flex-in-flex */
    display: flex;
    align-items: center;
    justify-content: center;
}
.baseline {
    align-self: baseline;
}
.auto {
    align-self: auto;
}
.top {
    align-self: flex-end;
}
.stretch {
    align-self: stretch;
}
.start {
    align-self: flex-start;
}
.bottom {
    align-self: flex-end;
}
.item .container {
    padding: 5px;
    border: solid 1px red;
}
div.item div.container div {
    border: solid 1px blue;

}