div {
    background-color: lightcoral;
    border: solid 1px gray;
}
.container {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    min-height: 100px;
}
.item {
    align-items: stretch;
}