body {
    margin: 0;
}
div.square {
    /* min-width: .5vh; */
    /* min-height:  20vh; */
    min-height: 100px;
    max-width: 100px;
    border: solid 1px gray;
    background-color: brown;
    opacity: .7;
}
div.oravlap {
    min-height: 100px;
    max-width: 100px;
    border: solid 1px gray;
    background-color: yellow;
    opacity: .7;

    position: absolute;
    /* margin-right: 20px; */
    margin-top: -20px;
}
h1 {
    font-size: 20vh;
}
div.toolbar {
    /* position: abosolute; */
    position: fixed;
    /* margin-top: 0; */
    top: 0;
    min-width: 100%;
    min-height: 100px;
    background: blue;
    margin: 0;
    box-shadow: 2px 2px lightblue;
    opacity: .85;
}
div.footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 200px;
    background: black;
}
                                
div.toolbar > * {
    color: white;
}
div.footer > * {
    color: lightgray;
}
.main {
    /* min-height: 150vh; */
    min-height: 1000px;
}