@import url('https://fonts.googleapis.com/css?family=Felipa');
body {
    font-family: 'Felipa';
    display: grid;
    grid-template-columns: 12% auto;
    grid-template-areas: 
    "sidebar right"
    "footer footer";
}
section {
    display: grid;

}
header {
    display: grid;
    background-color: blue;
    color: white;
    grid-template-rows: 100px 30%;
}
li > a {

    color: white;
    text-decoration: none;
    display: grid;
}
ul {
    /* text-decoration-style: none; */
    list-style-type: none;
}