.span1 {
    width: 30%;
    min-height: 400px;
    min-width: 70px;
    border: solid 1px red;
    background-color: lightcoral;
    /* Without position: absolute; min-height: 400px; will not take effect  */

}
.span2 {
    width: 40%;
    min-width: 60px;
    border: solid 2px green;
    background-color: lightgreen;

}
.span3 {
    width: 50%;
    min-width: 50px;
    border: solid 3px blue;
    background-color: lightblue;

}
span {
    border: solid 1px gray;
    padding: 10px;
    background-color: lightyellow;
    width: auto;
    position: absolute; 
    opacity: .5;
    text-align: center;
    color: darkred;
    font-weight: bolder;
    margin: 4px;

}
/* div > span {
    margin: 10;
} */
.container {
    width: 80%;
    min-width: 100px;
    min-height: 100px;
    /* align-content: center; */
    text-align: center;
}
div {
    border: solid 1px red;
}

/* 
* Bootstrap customization
*/
.tab-pane {
    margin-top: 10px;
}