$primaryColor: blue;

main {
    max-width: 60rem;
    min-height: 20rem;
    padding: 1rem 2%;
    h1 {
        font-size: 2rem;
        margin: 1.5rem 0 .2rem 0;
        color: lighten($color: $primaryColor, $amount: 2%)
    }
    div.parent {
        display: grid;
        grid-template-columns: 250px auto;
        border: solid 1px gray;
        // grid-template-columns: 100px auto;
        // grid-template-columns: 100px auto;
        grid-template: 2em;
        grid-template-columns: 1fr 2fr;
        // grid-auto-rows: 50px;
    }
    ul {
        list-style-type: none;
    }
    ul li {
        min-width: 50px;
        min-height: 50px;
        background: lightcoral;
        opacity: .7;
        border: solid 1px gray;
    }
}